{{ template "header" . }}
<h1>Task: {{ .Title }}</h1>
<p>内容: {{ .Content }}</p>
<h2>Priority: {{.Priority}}</h2>
{{ if .Error }}
<p><font color="#FF0000">{{ .Error }}</font></p>
{{ end }}
<form action="/task/share/{{ .ID }}" method="POST" onSubmit="return confirm_share({{ .ID }})">
    <label>共有するユーザー：</label>
    <input type="text" name="user_name" required>
    <br>
    <input type="submit" value="共有">
    <a href="/list"><button type="button">リストへ戻る</button></a>
</form>
{{ template "footer" }}