{{ template "header" . }}
<h1>List of tasks</h1>
<form action="/list" method="GET">
    <label>キーワード:</label>
    <input type="text" name="kw" value="{{ .Kw }}">
    <br>
    <label>状態:</label>
    <input type="radio" name="is_done" value="済"><label>済</label>
    <input type="radio" name="is_done" value="未完"><label>未完</label>
    <br>
    <input type="submit" value="検索">
</form>
<p><a href="/task/new">新規登録</a></p>
{{ if not .Tasks }}
<p>登録データがありません．</p>
{{ else }}
<table border="4">
    <tr valign="top">
        <th bgcolor="#ff0000" width="50" height="30">ID</th>
        <th bgcolor="#0000ff" width="200" height="30">タイトル</th>
        <th bgcolor="#00ffff" width="200" height="30">内容</th>
        <th bgcolor="#c0c0c0" width="200" height="30">登録日</th>
        <th width="50" height="30">状態</th>
    </tr>
    {{ range $task := .Tasks }}
    <tr>
        <td><a href="/task/{{ $task.ID }}">{{ $task.ID }}</a></td>
        <td>{{ $task.Title }}</td>
        <td>{{ $task.Content }}</td>
        <td>{{ $task.CreatedAt }}</td>
        <td >{{ if $task.IsDone }}済{{ end }}</td>
    </tr>
    {{ end }}
</table>
{{ end }}
{{ template "footer" }}
